div.body-content{
	padding:50px 0;
	background-color: grey;
}

div.thirds{
	padding-bottom:50px;
}

div.one-third{
	width:30%;
	float:left;
	margin-right: 5%;
}

div.one-third-last{
	margin: 0;
}

img{
	max-width: 100%;
	height:auto;
	margin: 0 0 10px 0;
}